<p><%= t("invitation_mailer.invite_client.greeting") %></p>
<p><%= t("invitation_mailer.invite_client.body", inviter: @inviter.full_name, project: @project.name) %></p>
<p><%= link_to t("invitation_mailer.invite_client.action"), @accept_url %></p>
