<%# Top-center: success/info pills %>
<div id="toast-pills"
     aria-label="<%= t('toasts.pill_aria_label') %>"
     class="fixed top-20 left-1/2 -translate-x-1/2 z-[100]
            flex flex-col items-center gap-2
            pointer-events-none">
  <% flash.each do |type, message| %>
    <% if %w[notice success info].include?(type) %>
      <%= render "shared/toast_pill", type: type, message: message %>
    <% end %>
  <% end %>
</div>

<%# Bottom-center: warning/error cards %>
<div id="toast-cards"
     aria-label="<%= t('toasts.card_aria_label') %>"
     class="fixed bottom-4 left-1/2 -translate-x-1/2 z-[100]
            flex flex-col items-center gap-3 pb-[env(safe-area-inset-bottom)]
            max-w-[calc(100vw-2rem)]
            pointer-events-none">
  <% flash.each do |type, message| %>
    <% if %w[alert error].include?(type) %>
      <%= render "shared/toast_card", type: type, message: message %>
    <% end %>
  <% end %>
</div>
