<div>
  <label for="document_body" class="block text-sm font-medium text-text-body">
    <%= t("resources.new.body_label") %>
  </label>
  <%= fields_for :document do |document_form| %>
    <%= document_form.rich_text_area :body,
          id: "document_body",
          class: "mt-1 block w-full rounded-md border border-border-strong
                  focus:outline-none focus:ring-2 focus:ring-interactive-focus focus:border-interactive-focus" %>
  <% end %>
</div>
