<h1><%= t("magic_link_mailer.registration_link.greeting") %></h1>
<p><%= t("magic_link_mailer.registration_link.body") %></p>
<p><%= link_to t("magic_link_mailer.registration_link.action"), @link_url %></p>
<p><%= t("magic_link_mailer.registration_link.expiry") %></p>
